<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="popup.js"></script>
	<style>
		body {
			min-width: 600;
			min-height: 500;
		}
	</style>
</head>
<body ng-app="app">
	<div ng-controller="tabCtrl">
		<label>Title: </label>
		<input type="text" ng-model="title.title"></input>
		<label>Url: </label>
		<input type="text" ng-model="url.url"></input>
		<input type="button" value="Bring All" ng-show="filteredTabs.length" ng-click="moveAllTabs(filteredTabs)"></input>
		<div>
				<div ng-repeat="x in allTabs | filter:title.title | filter:url.url as filteredTabs"></div>
		</div>
		<ul>
			<li>Current
				<div>
					<ul>
						<li ng-repeat="t in currWindow.tabs | filter:title.title | filter:url.url">
							<a href="#" ng-click="moveTab(w.id, t.id)">{{ t.title }} | {{ t.url }}</a></li>
					</ul>
				</div>
			</li>
			<li ng-repeat="w in otherWindows">
				<div>{{w.id}}</div>
				<div>
					<ul>
						<li ng-repeat="t in w.tabs | filter:title.title | filter:url.url">
							<a href="#" ng-click="moveTab(w.id, t.id)">{{ t.title }} | {{ t.url }}</a></li>
					</ul>
				</div>
			</li>
		</ul>
		
	</div>
</body>
</html>
